<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="login-container">
    <h2>Login</h2>

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Enter Username" required>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Login</button>
    </form>

    <!-- Messages -->
    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <!-- Forgot Password -->
    <div class="forgot-password">
        <a href="#">Forgot Password?</a>
    </div>

    <!-- Register -->
    <div class="register-now">
        <p>Don't have an account? 
            <a href="{% url 'register' %}">Register Now</a>
        </p>
    </div>
</div>

</body>
</html>
